nav.navbar {
    margin: 10px;
    background-color: #ffa6c1;
    padding: 10px;
}

.navbar-item.is-active {
    background-color: #ff87ab;
    color: white;
}

.navbar-item{
    padding: 10px;
    border-radius: 15px;
}

.navbar-item:hover {
    background-color: #FADDE1;
    color: #fff; 
}